.App {
  text-align: center;
}

/* Dark them */

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.bg-dark {
  background: rgb(36, 40, 42);
  color: #dadada;
}

/* TopBar */
.brand {
  font-size: .75rem;
  border: 2px solid #333;
  padding: .5rem;
}


/* Home */
.home-table {
  width: 100%;
  height: 100%;
  display: table;
  height: 70vh;
}

.home-table-center {
  display: table-cell;
  vertical-align: middle;
}


/* TopBar  */
.navbar-nav > .nav-item >a {
  position: relative;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link a{
  color: rgba(0,0,0,.5);
}

.navbar-light .navbar-nav .nav-link a:hover{
  text-decoration: none;
  color: rgba(0,0,0,1);
}



.navbar-nav > .nav-item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0025FC;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav > .nav-item > a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* About Section */

.about{
  position: relative;
  justify-items: center;
}

.right-on-top {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  top: -15px;
  color: #666;
}

/* Confirmation Modal */




/* Experience & Education */

.exp-col {
  margin-left: 60px;
}

.edu-exp {
  padding: 10px 0;
  position: relative;
}

.edu-exp::before {
  content: "";
  height: 100%;
  left: 0;
  background-color: #e7e7e7;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}

.edu-exp .exp-box {
  border-radius: 7px;
  border: 1px solid #e7e7e7;
  margin-left: 20px;
  padding: 20px;
  box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5);
}

.edu-exp .exp-box .exp-year {
  position: relative;
  margin: 0 0 10px 15px;
}

.edu-exp .exp-box .exp-year::after {
  border: 3px solid #fff;
  border-radius: 50%;
  content: "";
  height: 20px;
  background-color: #000;
  position: absolute;
  left: -65px;
  width: 20px;
  z-index: 1;
}

.edu-exp .exp-box .exp-detail {
  text-align: left;
  margin-left: 15px;
}

.edu-exp h4,
.exp-detail {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 0;
}

.exp-detail img {
  height: 64px;
  widows: 64px;
}

.position-relative {
  text-align: left;
}

.desc {
  line-height: 26px;
  font-size: 1rem;
  color: #666;
}

SocialIcon.social-icon:hover {
  transform: rotate(360deg);
}

a.social-icon {
  margin: .5rem;
  transition: all 0.5s;
}

a.social-icon:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* Modal */
.no-border-top {
  border: none;
}

.no-border-bottom {
  border: none;
}

#submit-btn {
  background: #0025FC;
  color: #fff;
}

#submit-btn:disabled{
  background: #f2f2f2;
  color: #c7c7c7;
}

.modal-open {
  padding-right: 0px !important;
}



/* Blog Site page */


.flex-container {
  display: flex;
  flex-direction: row;
  margin: 4rem 0 1rem 0; 
}

.blog-header-container div {
  margin: 2em 0 2em 0;
}


.blog-card {
  margin: 20px 20px 40px 20px;
  padding: 20px 10px 20px 10px;
  border: 1px solid rgba(0,0,0,.02);
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.15);
  transition: 0.5s;
  color: #212529;
  text-decoration: none;
}

.blog-card:hover {
  box-shadow: 0px 5px 8px 5px rgba(233,240,243,1);
  text-decoration: none;
}

.media-body {
  margin-right: 20px;
}

.basic-multi-select {
  width: 15rem;
  margin-left: 20px;
}

.select__control.select__control--is-focused, .select__control.select__control--is-focused:hover, .select__control.css-yk16xz-control:hover {
  border-color: #00768B;
  box-shadow: none;
}


.blog-page-portrait {
  margin: 20px;
}

.blog-page-title {
  margin: 20px;
  align-self: center;
  justify-self: center;
}

.text-bold {
  font-weight: bold;
}

.opacity-small-text {
  opacity: 0.8;
  font-size: .75rem;
}

span.middle-dot {
  content: "\00B7";
}


.nav-blog-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.read-more-button {
  margin: 10px 0 10px 0;
  justify-self: end;
}

.like-button {
  opacity: .5;
  align-self: center;
}

.media-image {
  border-radius: 50%;
  margin: 0 1em 0 1em;
}

/* Blog Post Page */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  grid-template-areas: 
  ". post-title "
  ". p-title-image ";
}

.post-title {
  grid-area: post-title;
  max-height: 200px;
}

.p-title-image {
  grid-area: p-title-image;
}


/* Responsive Media Queries */

/* Smartphones (landscape) */
@media only screen and (min-width: 321px){
  .home-table {
    height: 90vh;
  }

  /* Smarphones (portrait) */
@media only screen and (max-width: 320px){
  .home-table {
    height: 90vh;
  }
}
  .exp-col,.exp-col-offset {
    margin-left: 0;
  }

}

/* Desktops and laptops */ 
@media only screen and (min-width: 1224px) {
  .home-table {
    height: 70vh;
  }
  
  .exp-col {
    margin-left: 60px;
  }
  
  .exp-col-offset {
    margin-left: 120px;
  }

  .right-on-top {
    display: none;
  }

}

